<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<title>문제 1</title>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}">
<script th:src="@{/js/bootstrap.min.js}"></script>
</head>
<body>
<div id="container" class="container-fluid">
	<div class="position-absolute top-50 start-50 translate-middle">
		<img class="img-fluid" th:src="@{/image/logo.png}">
	</div>
	<form method="get" action="list">
		<div class="input-group mb-3 p-3">
			<input type="text" class="form-control w-70" name="query" placeholder="IMAGE URL or PRODUCT CODE or KEYWORD">
			<button class="btn btn-outline-secondary" type="submit">검색</button>
		</div>
	</form >
</div>
</body>
</html>